<ion-content class="ion-padding" [fullscreen]="true">

  <div style="display: flex; flex-direction: column; align-items: center;">
    <ion-img src="./assets/images/customer.png" style="height: 10rem;"></ion-img>
    <h1>Passwort zurücksetzen.</h1>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="resetPassword()">
    <ion-input
      class="ion-margin-bottom"
      fill="outline"
      type="email"
      label="Email"
      labelPlacement="floating"
      formControlName="email"
      errorText="Eine gültige E-Mail ist erforderlich.">
    </ion-input>

    <ion-button disabled="{{myForm.invalid}}" type="submit" expand="block">
      Senden
    </ion-button>
  </form>


  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 2rem;">
    <p class="ion-no-margin" style="font-size: 0.8rem;">Zurück zum
    </p>
    <ion-button fill="outline" size="small" shape="round" routerLink="/login" routerDirection="back">
      Login
    </ion-button>
  </div>

</ion-content>
