.no-articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  .no-articles-img {
    height: 10rem;
  }
  .no-articles-title {
    display: flex;
    align-items: center
  }
}

.m-bottom {
  margin-bottom: 4rem;
}
