<ion-header>
  <ion-toolbar>
    <ion-title>Artikel hinzufügen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-item [button]="true" [detail]="false" lines="none" id="select-article">
      <ion-input formControlName="articleName" label="Artikelname" labelPlacement="floating"
                    value="{{ articleName.value }}" errorText="Ungültiger Artikelname">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input formControlName="amount" label="Anzahl" labelPlacement="floating" type="number"
                 inputmode="numeric" errorText="Unzulässige Anzahl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Markt" interface="popover" label-placement="floating" formControlName="selectedStore">
        <ion-select-option *ngFor="let store of getStores()" value="{{store.key}}">{{store.value}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Kategorie" interface="popover" label-placement="floating" formControlName="category">
        <ion-select-option value="{{ category.key }}" *ngFor="let category of getArticleCategories()">
          {{ category.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="start" formControlName="buyWithDiscount">Nur mit Rabattmarkerl</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="start" formControlName="inSale">In Sale</ion-checkbox>
    </ion-item>

    <ion-item *ngIf="inSale?.value" lines="inset">
      <ion-label>Valid From</ion-label>
      <ion-datetime-button datetime="validFromDateTime">
      </ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="validFromDateTime" presentation="date" [firstDayOfWeek]="1" formControlName="validFrom"
                        (ionChange)="validFromChanged()"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item *ngIf="inSale?.value" lines="inset">
        <ion-label>Valid Until</ion-label>
        <ion-datetime-button datetime="validToDateTime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="validToDateTime" presentation="date" [firstDayOfWeek]="1" [min]="minValidUntil"
                          formControlName="validUntil"></ion-datetime>
          </ng-template>
        </ion-modal>
    </ion-item>

    <ion-button expand="full" (click)="saveArticle()">Speichern</ion-button>
  </form>
</ion-content>

<ion-modal trigger="select-article" #articleSuggestionModal>
  <ng-template>
    <app-typeahead
      class="ion-page"
      [articleName]=articleName.value
      (suggestionClick)="articleSuggestionClick($event)"
      (suggestionCancel)="articleSuggestionModal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>
