.black {
  background-color: #000000;
}

.white {
  background-color: #FFFFFF;
}

.yellow {
  background-color: #FBF8CC;
}

.orange {
  background-color: #FDE4CF;
}

.red {
  background-color: #FFCFD2;
}

.pink {
  background-color: #F1C0E8;
}

.purple {
  background-color: #CFBAF0;
}

.blue {
  background-color: #A3C4F3;
}

.blue-light {
  background-color: #90DBF4;
}

.turquoise {
  background-color: #8EECF5;
}

.green-light {
  background-color: #98F5E1;
}

.green {
  background-color: #B9FBC0;
}


.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;

  &.selected {
    border: 2px solid #000;
  }
}

@media (prefers-color-scheme: dark) {
  .yellow {
    background-color: rgb(178,178,0);
  }

  .orange {
    background-color: rgb(255,165,0);
  }

  .red {
    background-color: rgb(178,0,0);
  }

  .pink {
    background-color: rgb(178,134,142);
  }

  .purple {
    background-color: rgb(89,0,89);
  }

  .blue {
    background-color: rgb(0,0,178);
  }

  .blue-light {
    background-color: rgb(154,164,176);
  }

  .turquoise {
    background-color: rgb(44,156,145);
  }

  .green-light {
    background-color: rgb(130,152,118);
  }

  .green {
    background-color: rgb(0,89,0);
  }

  .circle.selected {
    border: 2px solid white;
  }
}

