<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Liste bearbeiten' : 'Liste hinzufügen' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-item [button]="true" [detail]="false" lines="none">
      <ion-input #listNameInput formControlName="listName" label="Listenname" labelPlacement="floating" autocapitalize="sentences"
                 value="{{ listName.value }}" errorText="Ein Listenname ist erforderlich.">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Hintergrundfarbe</ion-label>
    </ion-item>

    <ion-item>
      <div style="display: flex; flex-wrap: wrap">
        <ng-container *ngFor="let color of circleColors">
        <span class="circle" [class.selected]="selectedColor === color" [ngClass]="color"
              (click)="selectColor(color)"></span>
        </ng-container>
      </div>
    </ion-item>

    <ion-button expand="full" (click)="saveList()">
      {{ isEditing ? 'Aktualisieren' : 'Speichern' }}
    </ion-button>
  </form>
</ion-content>
