<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meine Listen</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="toggleEdit()">Bearbeiten</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Listen
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container>
    <ion-list [inset]="true">
      <ion-reorder-group [disabled]="isReorderDisabled" (ionItemReorder)="handleReorder($any($event))">
        <ion-item-sliding *ngFor="let list of getLists(); trackBy: trackItems">
          <ion-item [ngClass]="list.color" routerDirection="root" [routerLink]="isReorderDisabled ? ['/list/' + list.id] : []" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" name="create-outline" *ngIf="!isReorderDisabled" (click)="openAddListModal(list)"></ion-icon>
            <ion-label>
              <h1>{{list.name}}</h1>
              <ion-icon name="person-circle-outline" size="large"></ion-icon>
              <ion-icon name="add-circle-outline" size="large" *ngIf="!isReorderDisabled" (click)="openCamera()"></ion-icon>
            </ion-label>
            <ion-badge>{{list.articles.length}} Artikel</ion-badge>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteList(list)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>
  </ng-container>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddListModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
